@model DatabaseReportModel

<style>
  #databaseCPU{ font-size:13px; width:30%; margin-left:5%; margin-top:15px; }
  #databaseCPU td:nth-child(1){ width: 80%; text-shadow:1px 1px rgba(0,0,0,.2); }
  #databaseCPU td:nth-child(2){ background-color:yellow; text-align:center; font-weight:bold;  }

  #databaseRender{ font-size:12px; width:90%; margin-left:5%; margin-right:5%; border-collapse:collapse; margin-top:50px; }
  #databaseRender tr:nth-child(odd){background-color: #e8e8e8;}
  #databaseRender tr:first-child{ background-color:black; color:white; }
  #databaseRender td:nth-child(2){ text-align:center; }
  #databaseRender td:nth-child(1){ width:10%; }
</style>
<div>

  <div>
    <table id="databaseCPU">
      <tr>
        <td>Database CPU</td>
        <td>(not implemented)</td>
      </tr>
    </table>
  </div>

  <table id="databaseRender">
    <tr>
      <td>Job name</td>
      <td>Job desscription</td>
      <td>Last run date</td>
      <td>Last run status</td>
    </tr>
    @foreach (DatabaseReportActivityEntry entry in Model.Entries)
    {
      <tr>
        <td>@entry.JobName</td>
        <td>@entry.Description</td>
        <td>@entry.LastRunDate</td>
        <td>@entry.LastRunStatus</td>
      </tr>
    }
  </table>
</div>

