<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Database</title>
  <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  @RenderBody()

</body>
</html>